/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Segoe","Segoe UI","Arial","sans-serif";
}

.popup {
  position: absolute;
  z-index: 5;
  background-color: white;
  top: 15%;
  left: 40%;
  right: 40%;
  transition: all 5s ease-in-out;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  transition: opacity 500ms;
  z-index: 10;
}

app-root {
  height: 95vh;
}
