<div *ngIf="ToDoListe" class="overlay">
  <div class="popup">
    <h1>Création de Tache</h1>
    <form (ngSubmit)="onSubmitForm()">
      <label for="titre-crea">Titre : </label>
      <input type="text" name="titre-crea" value="" [(ngModel)]="titre" required />
      <br />
      <label for="date-crea">Date : </label>
      <input type="date" name="date-crea" min="{{aujourdhui}}" [(ngModel)]="date" />
      <br />
      <label for="util-crea">Personne : </label>
      <select [(ngModel)]="id_p" name="util-crea" id="selected_personnes" (ngModelChange)="onSelect(id_p)">
        <option *ngFor="let personne of personnes" [ngValue]="personne.id_p">{{personne.nom}} {{personne.prenom}}</option>
      </select>
      <br><br>

      <button (click)="Quit()">Retour</button>
      <button type="submit">Créer</button>
    </form>

  </div>
</div>
