
<div id="entete">
  <div id="titre">
    <h2 *ngIf="todoliste">{{todoliste.titre_l}}</h2>
  </div>
  <div id="date">
    <h4 *ngIf="todoliste">
      {{todoliste.date_echeance_l | date: 'EEEE'}}<br />
      {{todoliste.date_echeance_l | date: 'dd'}}<br />
      {{todoliste.date_echeance_l | date: 'MMMM'}}
    </h4>
  </div>
  <div id="description">
    <p *ngIf="todoliste">{{todoliste.description}}</p>
  </div>
</div>

<div *ngIf="todoliste">
  <div id="corps">
    <h2>Details de la todolist : {{todoliste.titre_l | uppercase}}</h2>
    <span>Description : {{todoliste.description}}</span>
    <h4>Listes des différentes taches : </h4>
    <ul>
      <li *ngFor="let tache of taches">
        <p> Titre :{{tache.Titre_t}}</p>
      </li>
    </ul>
  </div>
  <button (click)="onSelect(todoliste)"> Ajouter</button>
   
  <app-createur-tache [ToDoListeIDverif] ="todoliste.id_l" [ToDoListeID]="todocrea" ></app-createur-tache>
</div>

