
<div id="entete">
  <div id="titre">
    <h2 *ngIf="todoliste">{{todoliste.titre_l}}</h2>
  </div>
  <div id="date">
    <h4 *ngIf="todoliste">
      {{todoliste.date_echeance_l | date: 'EEEE'}}<br />
      {{todoliste.date_echeance_l | date: 'dd'}}<br />
      {{todoliste.date_echeance_l | date: 'MMMM'}}
    </h4>
  </div>
  <div id="description">
    <p *ngIf="todoliste">{{todoliste.description}}</p>
  </div>
  <div *ngIf="todoliste" id="bouton_active_todo">
    <mat-slide-toggle (change)="onSelectActiveToDo(todoliste)" [checked]="todoliste.active_l==1" ></mat-slide-toggle>
  </div>
</div>

<div *ngIf="todoliste ">
  <div id="corps">

    <div>
      <ul>
        <li *ngFor="let tache of taches">
          <div class="tacheChargees valeur{{tache.active_l}}">
            <p> {{tache.titre_t}}</p>
            <time>
              {{tache.date_echeance_l | date : 'EEEE'}}
              {{tache.date_echeance_l | date : 'dd'}}
              {{tache.date_echeance_l | date : 'MMMM'}}
            </time>
            <div id="button_active_tache">
              <mat-slide-toggle  (change)="onSelectActiveTache(tache)" [checked]="tache.active_l==1 && todoliste.active_l==1"  ></mat-slide-toggle>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <button (click)="onSelect(todoliste)"> Ajouter</button>
  

  <app-createur-tache [ToDoListeIDverif]="todoliste.id_l" [ToDoListeID]="todocrea"></app-createur-tache>
</div>

