@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/deep/ .mat-slide-toggle.mat-checked:not(.mat-) .mat-slide-toggle-bar {
  background-color: #2C73B9;
}

/deep/ .mat-slide-toggle-bar {
  background-color: grey;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #2C73B9;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-ripple .mat-ripple-element {
  background-color: rgba(29, 135, 229, .2);
}


#entete {
  display: flex;
  max-height: 10vh;
  min-height: 95px;
  background-color: ButtonFace;
  text-align: center;
}
#titre
{
    flex: 1;
    min-width: 215px;
}
#date {
  min-width: 135px;
  border-left: solid grey 1px;
  border-right: solid grey 1px;
  font-size: 1em;
  margin-right: 10px
}
#description {
  overflow-y: scroll;
  scrollbar-width: thin;
  flex: auto;
  text-align: left;
  word-wrap: break-word;
  max-height: 10vh;
  flex: 4
}
#modiftodo{
    width:100%;
}



#surcorps {
  overflow-y: scroll;
  height: 85vh;
  border-left: outset 2px;
  border-top: outset 2px;
  border-color: #E0E0E0;
  margin-left: 0.5px;
}
#corps {
  display: flex;
  padding: 20px;
  flex-direction: row-reverse;
}
#corps_gauche {
}
  #listeTaches{
    max-width: 100%;
  }
    #listeTaches ul{
      list-style-type: none;
    }
    .tacheChargees {
      display: flex;
      border: outset 1px;
      padding: 10px;
      margin-top: 10px;
      border-radius: 5px;
      min-width: 45vw;
    }
      .boutonsTaches {
        width: 90px;
        flex: 1;
      }
      .dateTaches img{
        margin-right: 5px;
      }
      .dateTaches{
        flex:1;
        font-size: 0.7em;
        display:flex;
        line-height: 1em;
      }
      .ressourceDate{
        flex:1;
      }
      .descriptionTaches {
        flex: 3;
      }



#corps_droit {
  margin-left: 15vw;

}
  #Personnes_Rattaches {
      
  }


