
<div id="entete">
  <div id="titre" *ngIf="todoliste && !todolistemodif">
    <h2 >{{todoliste.titre_l}}</h2>
  </div>
  <div id="date" *ngIf="todoliste && !todolistemodif">
    <h4 >
      {{todoliste.date_echeance_l | date: 'EEEE'}}<br />
      {{todoliste.date_echeance_l | date: 'dd'}}<br />
      {{todoliste.date_echeance_l | date: 'MMMM'}}
    </h4>
  </div>
  <div id="description" *ngIf="todoliste && !todolistemodif">
    <p >{{todoliste.description}}</p>
  </div>
  <div *ngIf="todoliste && !todolistemodif" id="modifierToDoListe">
    <input *ngIf="todoliste.active_l==0" type="image" src="../../assets/icon_edit_disabled.png" disabled alt="Logo-edit" width="33" height="33" (click)="onSelectModifToDo(todoliste)" />
    <input *ngIf="todoliste.active_l==1" type="image" src="../../assets/icon_edit.png" alt="Logo-edit" width="33" height="33" (click)="onSelectModifToDo(todoliste)" />
    <input type="image" src="../../assets/suppresion.png" alt="Logo-edit" width="33" height="33" (click)="onSelectSupprimerToDo(todoliste)" />
  </div>
  <div *ngIf="todoliste && todolistemodif " id="modiftodo">
    <app-modifier-liste [ToDoListeModif]="todolistemodif"></app-modifier-liste>
  </div>
  <div *ngIf="todoliste && !todolistemodif" id="bouton_active_todo">
    <mat-slide-toggle (change)="onSelectActiveToDo(todoliste)" [checked]="todoliste.active_l==1"></mat-slide-toggle>
  </div>
</div>

<div id="surcorps" *ngIf="todoliste ">
  <div id="corps">
    <div id="corps_droit">
      <div id="Personnes_Rattaches">
        <h3> Personnes Rattachés</h3>
        <div *ngFor="let personne of todoliste.personneViewModel"> {{personne.nom}} {{personne.prenom}}</div>
      </div>
    </div>
    <div id="corps-gauche">
      <h3>Listes des différentes taches : </h3>

      <div id="listeTaches">
        <ul>
          <li *ngFor="let tache of taches">
            <div class="tacheChargees valeur{{tache.active_l}}">
              <div class="descriptionTaches">
                <p>{{tache.titre_t}} </p>
              </div>
              <div class="dateTaches">
                <img src="../../assets/Calendrier.png" alt="Logo-calendrier" width="33" height="33" />
                <div>
                  {{tache.date_echeance_l | date : 'EEEE'}} <br>
                  {{tache.date_echeance_l | date : 'dd'}}<br>
                  {{tache.date_echeance_l | date : 'MMMM'}}
                </div>
              </div>
              <div class="boutonsTaches">
                <mat-slide-toggle *ngIf="todoliste.active_l==0" disabled  ></mat-slide-toggle>
                <mat-slide-toggle *ngIf="todoliste.active_l==1" (change)="onSelectActiveTache(tache)" [checked]="tache.active_l==1 "></mat-slide-toggle>
                <button (click)='onSelectModif(tache)'>Modif</button>
              </div>
              <div>
                <input id="supprimer_desactiver" *ngIf="todoliste.active_l==0" disabled type="image" src="../../assets/suppresion_disabled.png" alt="Logo-edit" width="33" height="33" (click)="onSelectSupprimerTache(tache)" />
                <input *ngIf="todoliste.active_l==1" type="image" src="../../assets/suppresion.png" alt="Logo-edit" width="33" height="33" (click)="onSelectSupprimerTache(tache)" />
              </div>
              <div class="ressourceTaches">
                {{tache.personneId}}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <button (click)="onSelectCrea(todoliste)"> Ajouter</button>
  <app-createur-tache [ToDoListeIDverif]="todoliste.id_l" [ToDoListe]="todocrea" *ngIf="todocrea"></app-createur-tache>
  <app-modifier-tache [Tache]="tachemodif"></app-modifier-tache>
</div>

