<div class="fenetre-ombree">
  <h1>Création de Todoliste</h1>
  <form (ngSubmit)="onSubmitForm()">
    <table>
      <tr>
        <td colspan="2"><label for="titre">Titre : </label></td>
      </tr>
      <tr>
        <td colspan="2"><input type="text" name="titre" value="" [(ngModel)]="titre" required class="input-long" maxlength="50"/></td>
      </tr>
      <tr>
        <td colspan="2"><label for="desc">Description : </label></td>
      </tr>
      <tr>
        <td colspan="2"><textarea type="text" id="desc" name="desc" value="" [(ngModel)]="description" class="input-long" maxlength="200" rows="4"></textarea></td>
      </tr>
      <tr>
        <td><label for="util">Personnes : </label></td>
        <td><label for="date">Date : </label></td>
      </tr>
      <tr>
        <td>
          <select name="selected_personnes" id="selected_personnes" multiple class="input-court">
            <option *ngFor="let personne of personnes" (click)="onSelect(personne)">{{personne.nom}} {{personne.prenom}}</option>
          </select>
        </td>
        <td><input type="date" name="date" min="{{aujourdhui}}" [(ngModel)]="date" class="input-court" /></td>
      </tr>
      <tr>
      </tr>
      <tr>
      </tr>
      <tr>
        <td colspan="2"><button type="submit">Créer</button></td>
      </tr>
    </table>
  </form>
</div>
