<h1>Création de Todoliste</h1>
<form (ngSubmit)="onSubmitForm()">
  <label for="titre">Titre : </label>
  <input type="text" name="titre" value="" [(ngModel)]="titre" required/>
  <br />
  <label for="desc">Description : </label>
  <input type="text" name="desc" value="" [(ngModel)]="description" />
  <br />
  <label for="date">Date : </label>
  <input type="date" name="date" min="{{aujourdhui}}" [(ngModel)]="date" />


  <br />
  <label for="util">Personnes : </label>
  <select  name="selected_personnes" id="selected_personnes" multiple >
    <option *ngFor="let personne of personnes" (click)="onSelect(personne)">{{personne.nom}} {{personne.prenom}}</option>
  </select>
  <br><br>

  <button type="submit">Créer</button>
</form>
