<div id="divform" *ngIf="ToDoListeModif">
  <form (ngSubmit)="onSubmitForm()" id="form">
    <div id="formdiv">
      <div id="titre">
        <textarea autofocus type="text" name="titre" value="" [(ngModel)]="titre" required></textarea>
      </div>
      <div id="date">
        <input type="date" name="date" min="{{aujourdhui}}" [(ngModel)]="date" />
      </div>
      <div id="description">
        <textarea type="text" name="desc" value="" [(ngModel)]="description" ></textarea>
      </div>
      <div id="personnes">
        <label for="util">Personnes rattachés: </label>
        <div id="scroll">
          <div *ngFor="let personne of personnes">
            <div *ngIf="selected_personnes_mappes && selected_personnes_mappes.includes(personne.id_p)">
              <input type="checkbox" class="horns" name="check{{personne.id_p}}" (click)="onSelect(personne)" checked>
              <label for="check{{personne.id_p}}">{{personne.nom}} {{personne.prenom}}</label>
            </div>
            <div *ngIf="selected_personnes_mappes && !selected_personnes_mappes.includes(personne.id_p)">
              <input type="checkbox" class="horns" name="check{{personne.id_p}}" (click)="onSelect(personne)">
              <label for="check{{personne.id_p}}">{{personne.nom}} {{personne.prenom}}</label>
            </div>
          </div>
        </div>
      </div>

      <button type="submit">Valider</button>
    </div>
  </form>
</div>

<!-- ng-reflect-state ="checked" -->
