#titre {
  flex: 1;
  min-width: 215px;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

#date {
  min-width: 135px;
  border-left: solid grey 1px;
  border-right: solid grey 1px;
  font-size: 1em;
  margin-right: 10px
}

#personnes {
  flex: 2;
  display: flex;
}
#personnes label{
    flex: 1;
}
#scroll {
  overflow-y: scroll;
  max-height: 80px;
  flex: 4;
}
button{
    max-height:40px;
}

#description {
  overflow-y: scroll;
  scrollbar-width: thin;
  flex: auto;
  text-align: left;
  word-wrap: break-word;
  max-height: 10vh;
  flex: 4
}
#divform {
  width: 100%;
}
#form {
  width: 100%;
}
#formdiv {
  display: flex;
  width: 100%;
}
textarea {
  background-color: rgba(0,0,0,0);
  border:none;
  width:90%
}
