<div *ngIf="Tache">
  <h1>Modification de tâche</h1>
  <form (ngSubmit)="onSubmitForm()">
    <label for="titre-modif">Titre :</label>
    <input type="text" name="titre-modif" placeholder="{{titreAncien}}" />
    <br />
    <label for="date-modif">Date :</label>
    <input type="date" name="date-modif" min="{{aujourdhui}}" [(ngModel)]="date" />
    <br />
    <label for="util-modif">Personne :</label>
    <select [(ngModel)]="id_p" name="util-modif" id="selected_personnes" (ngModelChange)="onSelect(id_p)" [value]="ressource">
      <option *ngFor="let personne of personnes" [ngValue]="personne.id_p" [selected]="personne.id_p == ressource">{{personne.nom}} {{personne.prenom}}</option>
    </select>
    <br />
    <br />

    <button type="submit">Enregistrer</button>
  </form>
</div>
