.bloc_flex
{
    display: flex;
}

#actions {
  min-height: 10vh;
  background-color: #eaeaea;
  border-bottom: outset 1px;
  border-right: outset 1px;
}
#gauche {
  flex: none;
  min-width: 350px;
  height: 95vh;
}
#liste {
  height: 85vh;
  background-color: lightgray;
  overflow-y: scroll;
}
#droite
{
    flex: auto;
}

ul
{
    list-style: none;
    padding-left:0;
}
.bouton_liste
{
    width: 100%;
    display: flex;
    border: none;
}
.bouton_liste:hover{
    background-color: lightgray;
}
.listetodoliste {
  max-height: 85vh;
}

.info{
    flex: 1.5;
}
.titre{
    text-align: left;
    text-decoration: underline;
}
.desc {
    max-width: 280px;
  text-align: left;
  word-wrap: break-word;
}

