.bloc_flex
{
    display: flex;
    height: 100%;

}

#separation {
  margin-bottom: 95px;
  background-color: lightgray;
}

#gauche {
  flex: none;
  min-width: 30vh;
  height: 100%;
  background-color: ButtonFace;
}
#liste {
  height: 100%;
  background-color: ButtonFace;
  overflow-y: scroll;
}
#droite
{
    flex: auto;
}

ul
{
    list-style: none;
    padding-left:0;
}
.bouton_liste
{
    width: 100%;
    display: flex;
    border: none;
}
li[aria-selected]{
    background-color: lightgray;
    font-weight:500;
}
  .bouton_liste:hover {
    background-color: lightgray;
    font-weight: 500;
  }
.listetodoliste {
  max-height: 85vh;
}

.info{
    flex: 1.5;
}
.titre{
    text-align: center;
    
}
.desc {
    max-width: 280px;
  text-align: left;
  word-wrap: break-word;
}

