<div class="bloc_flex">
  <div id="gauche">
    <div id="separation">

    </div>
    <div id="liste">
      <ul *ngIf="liste" class="listetodoliste">
        <li *ngFor="let todoliste of liste;let i=index" >
          <button (click)="onSelect(todoliste,i)" class="bouton_liste" id={{button_selected[i]}}>
            <div class="info" id={{button_selected2[i]}}>
              <p class="titre">{{todoliste.titre_l}}</p>
            </div>
          </button>
        </li>
      </ul>
    </div>
  </div>

  <div id="droite">
    <app-main [todoliste] ="listeSelectionnee" [taches] ="tachesListeSelectionnee"></app-main>
  </div>

</div>
