<div class="bloc_flex">
  <div id="gauche">
    <div id="actions">
      <button [routerLink]="['/creation']">Créer</button>
    </div>

    <div id="liste">
      <ul class="listetodoliste">
        <li *ngFor="let todoliste of liste">
          <button (click)="onSelect(todoliste)" class="bouton_liste">
            <div class="info">
              <h5 class="titre">{{todoliste.titre_l}}</h5>
              <p class="desc">{{todoliste.description | slice:0:100}}...</p>
            </div>
            <div class="utili">{{todoliste.id_l}}</div>
          </button>
        </li>
      </ul>
    </div>
  </div>

  <div id="droite">
    <app-main [todoliste] ="listeSelectionnee" [taches] ="tachesListeSelectionnee"></app-main>
  </div>

</div>
