<div class="bloc_flex">
  <div id="gauche">
    <div id="actions">
      <button [routerLink]="['/creation']">Créer</button>
    </div>

    <div id="liste">
      <h2>My Lists </h2>
      <ul class="liste">
        <li *ngFor="let todoliste of liste">
          <button (click)="onSelect(todoliste)" class="bouton_liste">
            <span class="badge">{{todoliste.id}}</span>
            <span class="name">{{todoliste.name}}</span>
          </button>
        </li>
      </ul>
    </div>
  </div>

  <div id="droite">
    <app-main [todoliste] ="listeSelectionnee" [taches] ="tachesListeSelectionnee"></app-main>
  </div>

</div>
